* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  font-size: $body-font-size;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
}

main {
  padding: $padding-default;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $secondary-color;
  }
}
